@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Changa', sans-serif;
}
section
{
    width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(0 58 94);
}
.okk{
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: relative;
    top: -100px;
    border:rgb(169, 224, 250) 3px solid;
    padding: 10px 18px;
    border-radius: 50%;
    
    animation: 2s bounceAlpha infinite ease;
    

}
.alt{
  background-color: #003a5e;
  text-align: center;
}
.yaz{
  color: #fff;
  text-align: center;
  padding: 0 10%;
  font-size: 20px;
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  30%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  90% {opacity: 1; transform: translateY(0px) scale(1);}
}

.box
{
	position: relative;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 15px linear-gradient(transparent,rgba(0,0,0,0.2));
	/*
	position: relative;
	width: 600px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;*/

}
.box:hover{
	content:'' ;
    position: absolute;
}
.box::before
{
	content:'' ;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 100px solid #000000;
    border-bottom: 100px solid rgb(17, 117, 17);
    
    box-sizing: border-box;
    filter: url("#wavy");
}

.box img{
    position: relative;
    max-width: 150px;
	z-index: 100;
	margin-top: 10px;

    animation: rotate 20s linear infinite;
}
.box .ddiv {
  position: relative;
  margin-left: -359px;
  width: 300px;
  height: 300px;
  background: #2c3e5000;
  border-left: 200px solid rgb(184, 14, 14);
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  filter: url("#wavy");
}


.musicbox{
  width: 100%;
  height: 0px;
  position: relative;
  display: flex;
  background:rgb(190, 186, 186);
  justify-content:center;
  align-items: center;

}
.music{
  position: relative;
  display: flex;
  margin-top: 100px;
  justify-content:center;
  align-items: center;
  width: 300px;
  background: rgba(190, 186, 186, 0);

}
@keyframes rotate
{
    0%
    {
		transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes rotate1
{
    0%
    {
        transform: rotateY(0deg)
    }
    100%
    {
        transform: rotateY(360deg);
    }
}
svg
{
	width: 0;
	height: 0;
}



nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  .muuu{
    background-color: rgb(138, 131, 131);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  label.logo{
      float: right;
    color: #ffffff;
    font-size: 33px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: 600;
    font-family: 'Changa', sans-serif;
  }
  nav ul{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
  }
  nav ul li{
    float: left;
    margin-top: 10px;
   
  }
  nav ul li ul{
  display: none;
  background: #0082e6;
  }
  nav ul li:hover ul{
    position: absolute;
    margin-top: -3px;
    display: block;
    }
  nav ul li ul li a{
      
      background: #0082e6;
      width: 100%;
    float: left;
    font-size: 20px;
    display: block;
  }
  nav ul li a{
    color: #f2f2f2;
    font-weight: 500;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
    font-family: 'Poppins', sans-serif;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: rgb(247, 6, 6);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 33px;
      padding-left: 15px;
      color: white;
      
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    .yaz{
      font-size: 40px;
      color: #003a5e;
    }
.okk{
top:-150px;

}
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
